* {
  margin: -1.25px;
  padding-top: 0px;
}

.Page_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 18px;
  border-bottom: 1px solid lightgrey;
}
.searchPage_logo {
  object-fit: cover;
  height: 55px;
  margin-right: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.searchPage_headerBody > .search > .search_input {
  margin-top: 10px;
  width: 600px;
  margin: 11px;
  max-width: 600px;
}

.searchPage_options {
  display: flex;
  align-items: center;
  color: black;
}

.imagePage_optionAll {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 10px;
  padding: 9px 9px;
  border-radius: 19px;
  margin-top: -11px;
  font-weight: 400;
}

.searchPage_optionAll:hover {
  border: 1px solid lightslategray;
  background-color: rgb(151, 151, 151);
}

.searchPage_optionsRight,
.searchPage_optionsLeft {
  display: flex;
}

.searchPage_optionsRight a,
.searchPage_options a {
  text-decoration: none;
  color: black;
}

.searchPage_optionsRight {
  margin-left: 80px;
}

.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 10px;
  border: 1px solid lightslategray;
  padding: 9px 9px;
  border-radius: 19px;
  margin-top: -11px;
  font-weight: 400;
}

.searchPage_option:hover {
  background-color: rgba(238, 238, 238, 0.79);
}

.imagePage_result {
  margin: 30px 0;
}

.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}

.imagePage_results {
  margin-top: 17px;
  margin-left: 117px;
  margin-bottom: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 8px 12px;
}

.dropdown-option {
  color: black;
  padding: 11px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  vertical-align: middle;
  margin-right: 5px;
}

/* CSS for screens up to 700px */
@media screen and (max-width: 700px) {
  .searchPage_result {
    margin: 20px 0;
  }
}

/* CSS for screens up to 450px */
@media screen and (max-width: 450px) {
  .searchPage_result {
    margin: 15px 0;
  }
  .searchPage_image {
    height: 150px;
    width: 150px;
  }
}

/* CSS for screens between 250px and 450px */
@media screen and (min-width: 250px) and (max-width: 450px) {
  .searchPage_result {
    margin: 10px 0;
  }
  .searchPage_image {
    height: 100px;
    width: 100px;
  }
}