.search_input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 560px;
  box-shadow: 0 2px 4px 0 rgba(95, 99, 104, 0.4);
  height: 25px;
}

.search_input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
  color: var(--text-color); /* Text color based on the theme */
  background-color: var(--bg-clr);
}

.search_input_mic {
  height: 27px;
  width: 28px;
  object-fit: contain;
  margin-right: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Added transition for transform */
  background-color: var(--bg-clr);
}

.search_input_mic:hover {
  cursor: pointer;
  transform: scale(1.1); /* Increase size on hover for a subtle zoom effect */
}

.search_input_mic:active {
  box-shadow: 0 0 10px 0 rgba(227, 91, 91, 0.5); /* Add box shadow on click */
  border-radius: 50%;
  transform: scale(1.1); /* Scale up slightly on click */
}

.search_input_googlelens {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.search_input_googlelens:hover {
  cursor: pointer;
}

.search_input > input:focus {
  outline-width: 0;
}

.search_inputIcon {
  color: gray;
}

.search_buttons {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  margin-left: 23px;
}

.search_buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: var(--bg-clr);
  border: 1px solid rgb(205, 197, 197);
  text-transform: inherit;
  color: var(--text-color);
}

.search_buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.search_buttonsHidden {
  display: none !important;
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
  .search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 9px 8px;
    border-radius: 999px;
    width: 84vw;
    margin: 0 auto;
    margin-top: -29px;
    max-width: 291px;
    box-shadow: 0 2px 4px 0 rgba(95, 99, 104, 0.4);
    height: 28px;
    margin-left: 3px;
}

  .search_input > input {
    flex: 1 1;
    padding: 5px 11px;
    font-size: 12px;
    border: none;
  }

  .search_buttons {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    margin-left: 4px;
  }
  .search_buttons button {
    margin: 3px;
    padding: 0px 19px;
    background-color: var(--bg-clr);
    border: 1px solid rgb(205, 197, 197);
    text-transform: inherit;
    color: var(--text-color);
  }
}
